h2 {
	font-family: var(--decorative-font);
	font-size: calc(1.5* var(--base-size));

	padding: var(--padding-blocks);

	background-color: var(--primary-color);
	color: var(--white);

	margin-inline: var(--padding-blocks);
	border-radius: var(--radius);

	text-align: center;
}

.h2-rotate-1 {
	transform: rotate(3deg);
}

.h2-rotate-2 {
	transform: rotate(-3deg);
}

.h2-blocks {
	margin-inline: var(--padding-blocks);
	padding-inline: var(--padding-22);

	padding-top: var(--padding-blocks);

	border-radius: var(--radius);

	border: solid 2px var(--black);
}

.h2-titles {
	display: flex;
	flex-direction: column;


	gap: var(--base-size);
	margin-bottom: var(--padding-22);
}

.h2-print {
	display: flex;
	flex-direction: column;

	gap: var(--base-size);
	margin-top: calc(6*var(--padding-22));
}

.h2-creations {
	display: flex;
	flex-direction: column;

	gap: calc(2* var(--base-size));
	margin-bottom: var(--padding-22);
	margin-top: calc(4*var(--padding-22));
}

/* list */

.circles {
	display: flex;
	flex-direction: row;

	& div {
		height: 44px;
		width: 44px;
		border-radius: 100%;
		margin-right: -20px;
		opacity: 60%;
	}

	& :nth-child(1) {
		background-color: var(--pink);

		&:hover {
			opacity: 100%;
		}
	}

	& :nth-child(2) {
		background-color: var(--aqua);

		&:hover {
			opacity: 100%;
		}
	}

	& :nth-child(3) {
		background-color: var(--violet);

		&:hover {
			opacity: 100%;
		}
	}

	& :nth-child(4) {
		background-color: var(--green);

		&:hover {
			opacity: 100%;
		}
	}

	& :nth-child(5) {
		background-color: var(--turqouise);

		&:hover {
			opacity: 100%;
		}
	}

	& :nth-child(6) {
		background-color: var(--orange);

		&:hover {
			opacity: 100%;
		}
	}
}

.list {
	display: flex;
	flex-direction: column;
}

.left {
	color: var(--black);
	font-family: var(--decorative-font);
	font-size: var(--button-size);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--base-size);

	& div {
		height: 40px;
		width: 40px;
		background-color: var(--primary-color);
		border-radius: 100%;
	}
}

/* adding all list heights */
.list-1,
.list-2,
.list-3,
.list-4 {
	&.open section {
		height: fit-content;
		padding-bottom: var(--base-size);
	}
}


/* list open-closed states */
#padding-top {
	padding-top: var(--padding-22);
}

.list-open {

	& button {
		display: flex;
		flex-direction: column;
		gap: var(--padding-22);
		border-bottom: 2px solid var(--black);
		padding-bottom: var(--base-size);
		width: 100%;

		cursor: pointer;

		& svg {
			width: 40px;
			height: 40px;

			& path {
				stroke: var(--black);
				fill: var(--black);
			}
		}


		&:hover {
			& p {
				color: var(--primary-color);

				& svg {
					& path {
						stroke: var(--primary-color);
						fill: var(--primary-color);
					}
				}
			}

			& svg {
				& path {
					stroke: var(--primary-color);
					fill: var(--primary-color);
				}
			}
		}
	}

	&.open .plus {
		display: none;
	}

	&:not(.open) .circle {
		display: none;
	}


	&>section {
		margin-top: 32px;
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: calc(0.5* var(--padding-22));

		height: 0px;
		overflow: hidden;
		transition: height 0.5s ease-in-out;

		& img,
		.text-media {
			width: 100%;
			height: 100%;

			aspect-ratio: 2;
			border-radius: calc(0.7* var(--radius));
			border: 1px solid var(--black);
			object-fit: cover;
			overflow: hidden;
			cursor: pointer;
			filter: grayscale(100%);

			transition: all 1s ease;

			/* source: https://thebrandsmen.com/css-image-hover-effects/ */

			&:hover {
				filter: none;
				transition: 1s ease;
				-webkit-transform: scale(0.8);
				-ms-transform: scale(0.8);
				transform: scale(0.8);
				transition: 1s ease;
			}
		}
	}
}

.text-media {

	display: flex;
	flex-direction: column;
	background-color: var(--background-color);
	justify-content: center;
	gap: 12px;

	text-align: center;
	padding-inline: 12px;
	text-wrap: pretty;
	font-family: var(--decorative-font);

	font-size: calc(0.6* var(--base-size));
}

@media (min-width:500px) {

	h2 {
		width: 500px;
		align-self: center;
	}

	.h2-titles .h2-print {
		margin-bottom: 100px;
	}

	.h2-print {
		margin-top: 200px;
	}

	.list-open {
		& button {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.circles {

		& div {
			margin-right: 0px;
			margin-left: -20px;
		}
	}

	.text-media {
		font-size: var(--base-size);
	}

	.list-open {
		&>section {
			margin-top: 32px;
			margin-bottom: 40px;
		}
	}
}


@media (min-width:768px) {

	h2 {
		font-size: 40px;
		width: 700px;
	}


	.circles {

		& div {
			border-radius: 100%;
			margin-right: 0px;
			margin-left: -22px;
			height: 60px;
			width: 60px;
		}
	}

	.h2-blocks {
		padding-inline: calc(2* var(--padding-22));
	}
}

@media (min-width:1024px) {

	.list-open {
		&>section {
			margin-top: 40px;
			margin-bottom: 60px;
			grid-template-columns: repeat(4, 1fr);

			& img,
			.text-media {
				border: 2px solid var(--black);
				border-radius: 18px;
			}
		}
	}

	.list-1,
	.list-2,
	.list-3,
	.list-4 {
		&.open section {
			padding-bottom: 0px;
		}
	}

	h2 {
		font-size: 40px;
		width: fit-content;
		border-radius: 24px;
		margin: 0px;
	}

	.left {
		font-size: 40px;
	}

	.h2-print {
		margin-top: 300px;
	}

	.h2-titles {
		gap: 44px;
	}

	.h2-blocks {
		padding-top: 50px;
		border: 4px solid var(--black);
	}

	.left {
		font-size: 36px;
	}

	.h2-creations {
		margin-block: 300px;
	}

	.text-media {
		font-size: 20px;
	}
}


@media (min-width:1400px) {

	h2 {
		font-size: 48px;
	}

	.left {
		font-size: 40px;
	}
}

@media(min-width:1600px) {
	.h2-blocks {
		margin-inline: 0px;
	}
}