body:has(#modal[open]) {
	overflow: hidden;
  }

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  }
  
  #modal[open] {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  #modal-wrapper {
	background-color: var(--background-color);

	border-radius: var(--radius);
	border: solid 2px var(--black);

	padding-inline: var(--padding-22);
	padding-block: calc(2* var(--padding-22));
	width: 335px;
	height: fit-content;
	position: relative;
  }
  
  #modal-close {
	
	position: absolute;
	right: -8;
	top: -22;

	cursor: pointer;

	& svg {
		padding: 12px;
		border-radius: 100%;
		border: 2px solid var(--black);
		background-color: var(--background-color);
	color: var(--black);
	}
  }
  
  #modal::backdrop {
	background-color: rgba(187, 192, 210, 0.6);
  }

  
