body:has(#modal[open]) {
	overflow: hidden;
  }

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  }
  
  #modal[open] {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  #modal-wrapper {
	background-color: var(--white);
	padding: 20px;
	width: 300px;
	height: 500px;
  }
  
  #modal-close {
	display: block;
	width: fit-content;
	background-color: var(--background-color);
	color: var(--white);
	margin-left: auto;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  #modal::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
  }

  
