:root {
	--base-size: 16px;
	--button-size: 22px;
	font-size: var(--base-size);
	--gutter-large: calc(2.75 * var(--base-size));
	--black: #222222;
	--white: #ffffff;
	--background-color: #EAEAEA;
	background-color: var(--background-color);
	--primary-color: #4417F3;
	--secondary-color: #FFD446;
	text-transform: uppercase;
	font-family: Cabin;
	line-height: 1.4rem;
	font-weight: 400;

	--h1-font: 60px;
	--h1-height: 120%;
}

h1 {
	font-family: Bungee;
	line-height: 60px;
	font-size: 44px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-inline: 24px;
	height: 60px;
	font-size: var(--base-size);
	background-color: var(--primary-color);

	a {
		color: var(--white);
	}
}


.grid-pattern {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--black);
	gap: 4px;

	&>:not(.h1-grid) {
		aspect-ratio: 1;
	}

	&>* {
		background: var(--background-color);
	}

	& picture {
		max-width: 100%;
	}

	& .h1-grid {
		grid-column: span 3 / span 3;
		aspect-ratio: 3;

	}
}





@media (min-width: 992px) {
	:root {
		--base-size: 24px;
		--button-size: 44px;
		font-size: var(--base-size);
		--gutter-large: 140px;
		--gutter-small: 70px;

		--h1-font: 150px;
		background-color: var(--background-color);
	}

	.grid-pattern {
		grid-template-columns: repeat(6, 1fr);

		& .h1-grid {
			grid-column: span 6 / span 6;
			aspect-ratio: 6;

		}
	}

}