:root {
	--base-size: 16px;
	--button-size: 20px;
	font-size: var(--base-size);


	--black: #242B33;
	color: var(--black);
	--white: #ffffff;
	--background-color: #EAE9E5;
	--primary-color: #0078BE;
	--pink: #F984CA;
	--aqua: #5EC8E5;
	--violet: #9E7AD2;
	--green: #01A95D;
	--turqouise: #05AA93;
	--orange: #FF996D;


	--decorative-font: Bungee;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: 500;

	--height: 3.75rem;

	--radius: 1.5rem;
	--padding-22: calc(1.4 * var(--base-size));
	--padding-blocks: calc(1.25* var(--base-size));


}

html {
	scroll-behavior: smooth;
}

h1 {
	font-family: var(--decorative-font);
	color: var(--primary-color);
	text-shadow:1px 2px 2px #085794;
	/* -webkit-text-stroke: 6px var(--white); */
	line-height: 60px;
	font-size: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	cursor: pointer;
}




nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-inline: var(--padding-blocks);
	height: var(--height);
	font-size: var(--base-size);
}



.button {
	color: var(--white);
	text-transform: uppercase;
	font-size: var(--button-size);

	display: flex;
	align-items: center;
	padding-inline: var(--button-size);
	height: 44px;

	background-color: var(--black);
	border-radius: calc(0.5 * var(--radius));
	cursor: pointer;

	width: fit-content;

	&:hover {
		background-color: var(--primary-color);
	}

	&>svg {

		width: 44px;
		height: 44px;

		& path {
			fill: var(--white);
			stroke: var(--white);
		}
	}

}


.button-link {
	display: flex;
	align-items: center;
	color: var(--black);
	width: fit-content;

	&>svg {
		width: 32px;
		height: 22px;
	}

	cursor: pointer;

	&:hover {
		color: var(--primary-color);

		&>svg path {
			fill: var(--primary-color);
			stroke: var(--primary-color);
		}
	}

}


footer {
	display: flex;
	flex-direction: column;
	gap: calc(2* var(--button-size));

	.description {
		margin-inline: var(--padding-blocks);
		padding-inline: var(--padding-22);
		padding-top: 40px;
		padding-bottom: 22px;

		border-radius: var(--radius);

		border: 2px solid var(--black);


		& p {
			text-transform: none;
			text-wrap: pretty;
			word-break: break-word;
			white-space: pre-wrap;
			font-weight: 300;
		}

		& h3 {
			padding-bottom: var(--base-size);
		}
	}


	&>:nth-child(2) {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: var(--base-size);
		text-transform: none;

		margin-bottom: var(--button-size);

		margin-inline: var(--padding-blocks);

		& span {
			font-weight: 700;
			text-wrap: pretty;
		}
	}
}

html {
	background-color:#ddecf8;
	background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}



@media (min-width: 530px) {

	h1 {
		font-size: 76px;
		line-height: 90px;
	}

	footer {
		& .description {
			margin-top: 80px;
			padding-inline: 44px;
			padding-top: 44px;
			padding-bottom: 30px;
			border: 3px solid var(--black);
		}
	}

	.button {
		height: 64px;

		&>svg {
			width: 54px;
			height: 54px;
		}
	}

}


@media (min-width: 700px) {
	:root {
		--base-size: 24px;
		--button-size: 36px;
		font-size: var(--base-size);
	}

	h1 {
		font-size: 100px;
		line-height: 130px;
	}


	footer {
		&>:nth-child(2) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

}

@media (min-width:1024px) {

	footer {
		& .description {
			margin-top: 100px;
			border: 4px solid var(--black);
		}
	}


	.button {
		height: 70px;

		&>svg {

			width: 60px;
			height: 60px;

		}
	}
}



@media (min-width:1400px) {
	:root {
		--base-size: 24px;
		--button-size: 32px;
		font-size: var(--base-size);
		--height: 114px;

	}

	body {
		max-width: 1600px;
		margin: auto;
	}

	h1 {
		font-size: 150px;
		line-height: 180px;
	}


}

@media(min-width:1600px) {
	footer {
		& .description {
			margin-inline: 0px;
		}
	}

	nav {
		padding-inline: 0px;
	}

	footer {
		padding: 0px;
	}
}