:root{
	--base-size: 16px;
	--button-size: 22px;
	font-size: var(--base-size);
	--gutter-large: calc(2.75 * var(--base-size));
	--gutter-small: calc(0.875 * var(--base-size));
	--text-color:black;
	--background-color:#CAB8FF;
	--content-color:#EAEAEA;
	text-transform: uppercase;
	font-family: Cabin;
	line-height: 1.4rem;

	--h1-font: 60px;
	--h1-height: 120%;
}

p,li {
	text-transform: none;
}

/* Gutters */

.gutter-small{
	padding-bottom: var(--gutter-small);
}

.gutter-large{
	padding-bottom: var(--gutter-large);
}



nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.maincontent{
	padding: 12px 20px;
	border: 4px solid var(--text-color);
	background-color: var(--content-color);

}


/* buttons, links */

.button-l{
	display: flex;
	height:calc(0.8* var(--h1-font));
	padding-inline: calc(2*var(--base-size));
	justify-content: space-between;
	align-items: center;
	align-self: stretch;

	border-radius: 999px;
	border: 2px solid var(--text-color);

	font-size: var(--button-size);
	font-family: Cabin; 
	line-height: 300;
}

.link-list li {
	border-bottom: 2px solid var(--text-color);
	align-self: stretch;
	padding-bottom: var(--base-size);

	& a:hover{
		color: transparent !important;
		-webkit-text-stroke-width: 2 !important;
		-webkit-text-stroke-color: var(--text-color) !important;
	}
}


/* Link Text - "Cards" - style */

.link-list{
	font-family: Bungee;
	font-size: var(--button-size);
	font-weight: 400;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--base-size);
}



/* idk how to to this img scroll stuff */

/* .img-scroll{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
} */

/* .img-box{
	width: 70%;
	height: 340px;
}
.img-box img{
	width: 100%;
	height: 100%;
	object-fit: contain;
} */


/* frame for pic on h1 */
.img-frame{
	object-fit: cover;
	overflow: clip; 
	width: 40%;
	height:calc(0.8* var(--h1-font));
	border-radius: 9999px;
}

/* Title styles */

h1{
	&>span{
		font-family: Bungee;
		font-size: var(--h1-font);
		line-height: var(--h1-height);
		font-weight: 400;
	}
}

h2{
font-family: Cabin;
font-size: var(--button-size);
font-weight: 600;
}

.h2-title{
	display: flex;
	padding-bottom: var(--base-size);
	justify-content: space-between;
	border-bottom: 2px solid var(--text-color);


	& a {
		font-family: Bungee;
		font-size: var(--button-size);
		font-weight: 400;
	}
}


/* empty cards */
.explore-files{
	border: 2px solid var(--text-color);
	width: 100%;
	height: 460px;
	display: flex;
	height: 460px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: none;
	position: relative;
	overflow: clip; 
}

:hover .hover-image {
	display: block;
}
.hover-image {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
}
.hover-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* this will probably be deleted */

.text-format{
	margin-top: calc(0.5* var(--base-size));

	padding: calc(2* var(--base-size));
	border: 2px solid var(--text-color);
}

.standart-list{
	list-style-type: disc;
	padding-top:calc(0.5* var(--base-size)) ;
	margin-left: var(--base-size);

	&>li{
		margin-bottom: 6px;
	}
	
}

/* .h1-frame{
	display: flex;
	flex-direction: column;
	gap:var(--base-size);
} */

@media (min-width: 992px){
	:root{
		--base-size: 24px;
		--button-size: 44px;
		font-size: var(--base-size);
		--gutter-large: calc(2.75 * var(--base-size));
		--gutter-small: calc(0.875 * var(--base-size));
		
		--h1-font: 150px;
		background-color: var(--background-color);
	}



	.img-box img{
		width: 40%;
		height: auto;
		object-fit: cover;
		overflow: hidden; 
	}


	.collectives{
		display: flex;
	align-items: center;
	gap: 60px;
	align-self: stretch;
	}

	.link-list{
		font-size:60px;
		line-height: 72px;
		width: 60%;
	}


	.button-l{
		width: 412px;
		min-width: 300px;
	}

	.maincontent{
		padding: 60px;
		margin: calc(1.82* var(--base-size));
	}

	.img-frame{
		width: 20%;
	}
}